<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:fragment="header">
        <nav>
            <ul>
                <li><h2>Aplicación de Banco</h2></li>
                <li><a href="/usuarios">Usuarios</a></li>
                <li><a href="/clientes">Clientes</a></li>
                <li><a href="/cuentas">Cuentas</a></li>
                <li><a href="/lineas">Líneas</a></li>
                <li><a href="/creditos">Créditos</a></li>
            </ul>
        </nav>
        <a href="ServletLogoff" class="logout">Cerrar Sesión</a>
        <a href="perfil.jsp"></a>
        <img src="" width="50px" height="45px" style="border-radius: 50%; margin-right: 20px" />
    </header>
</body>
</html>