* {
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-image: linear-gradient(to top, rgba(206, 229, 208, 0.6) 0%, rgb(243, 240, 215, 0.6) 100%),url(../Imagenes/432300-Kycb.jpg);
}

section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.contenedor{
    max-width: 20%;
    width: 100%;
    justify-content: center;
    margin: auto;
    padding: 20px;
    background: rgba(243, 240, 215, .8);
    box-shadow: 1px 1px 3px black;
}

form{
    display: flex;
    flex-flow: column;
}

form input{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

form input:hover{
    box-shadow: 1px 1px 3px black;
}

.btn-login{
    background: rgba(216, 179, 132, .5);
}

.btn-login:hover{
    background: rgba(94, 69, 75, .5);
}

form .log{
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
}

.log i{
    padding-top: 23px;
    font-size: 40px;
}

.log h2{
    font-size: 30px;
    text-transform: uppercase;
}

